# Ignore all `.log` files
*.log

# Ignore the `node_modules` directory
node_modules/

# Ignore environment files
.env

# Ignore compiled Python files
*.pyc

# Ignore the `dist` folder
dist/

# Ignore `.DS_Store` (MacOS system file)
.DS_Store
